body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #000B1A;
  color: white;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}